In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
mcts_10 = pd.read_csv("data/random_vs_mcts_10.csv")
mcts_20 = pd.read_csv("data/random_vs_mcts_20.csv")
mcts_50 = pd.read_csv("data/random_vs_mcts_50.csv")
mcts_100 = pd.read_csv("data/random_vs_mcts_100.csv")
mcts_500 = pd.read_csv("data/random_vs_mcts_500.csv")
mcts_1000 = pd.read_csv("data/random_vs_mcts_1000.csv")

In [4]:
mcts_10

    Unnamed: 0  game_nr  num_iter mcts_color     winner
0            0        0        10  white (X)  white (X)
1            1        1        10  black (O)  black (O)
2            2        2        10  white (X)        NaN
3            3        3        10  black (O)  black (O)
4            4        4        10  white (X)        NaN
..         ...      ...       ...        ...        ...
95          95       95        10  black (O)  black (O)
96          96       96        10  white (X)        NaN
97          97       97        10  black (O)  black (O)
98          98       98        10  white (X)        NaN
99          99       99        10  black (O)  black (O)

[100 rows x 5 columns]

In [5]:
mcts_10.columns

Index(['Unnamed: 0', 'game_nr', 'num_iter', 'mcts_color', 'winner'], dtype='object')

In [6]:
mcts_10.drop("Unnamed: 0", axis=1, inplace=True)
mcts_20.drop("Unnamed: 0", axis=1, inplace=True)
mcts_50.drop("Unnamed: 0", axis=1, inplace=True)
mcts_100.drop("Unnamed: 0", axis=1, inplace=True)
mcts_500.drop("Unnamed: 0", axis=1, inplace=True)
mcts_1000.drop("Unnamed: 0", axis=1, inplace=True)

In [30]:
mcts_10

    game_nr  num_iter mcts_color     winner
0         0        10  white (X)  white (X)
1         1        10  black (O)  black (O)
2         2        10  white (X)        NaN
3         3        10  black (O)  black (O)
4         4        10  white (X)        NaN
..      ...       ...        ...        ...
95       95        10  black (O)  black (O)
96       96        10  white (X)        NaN
97       97        10  black (O)  black (O)
98       98        10  white (X)        NaN
99       99        10  black (O)  black (O)

[100 rows x 4 columns]

In [53]:
mcts_1000["winner"].isna().sum()

11

In [45]:
mcts_10_wins = mcts_10[mcts_10["winner"] == mcts_10["mcts_color"]].value_counts()
mcts_10_draws = mcts_10["winner"].isna().sum()
mcts_10_losses = mcts_10[mcts_10["winner"] != mcts_10["mcts_color"]].value_counts()

print(f"The MCTS_10 has won {mcts_10_wins.shape[0]} out of 100 games against Baseline Model.")
print(f"The MCTS_10 has tied {mcts_10_draws} out of 100 games against Baseline Model.")
print(f"The MCTS_10 has lost {mcts_10_losses.shape[0]} out of 100 games against Baseline Model.")

The MCTS_10 has won 49 out of 100 games against Baseline Model.
The MCTS_10 has tied 25 out of 100 games against Baseline Model.
The MCTS_10 has lost 26 out of 100 games against Baseline Model.

In [46]:
mcts_20_wins = mcts_20[mcts_20["winner"] == mcts_20["mcts_color"]].value_counts()
mcts_20_draws = mcts_20["winner"].isna().sum()
mcts_20_losses = mcts_20[mcts_20["winner"] != mcts_20["mcts_color"]].value_counts()

print(f"The MCTS_20 has won {mcts_20_wins.shape[0]} out of 100 games against Baseline Model.")
print(f"The MCTS_20 has tied {mcts_20_draws} out of 100 games against Baseline Model.")
print(f"The MCTS_20 has lost {mcts_20_losses.shape[0]} out of 100 games against Baseline Model.")

The MCTS_20 has won 57 out of 100 games against Baseline Model.
The MCTS_20 has tied 25 out of 100 games against Baseline Model.
The MCTS_20 has lost 18 out of 100 games against Baseline Model.

In [47]:
mcts_50_wins = mcts_50[mcts_50["winner"] == mcts_50["mcts_color"]].value_counts()
mcts_50_draws = mcts_50["winner"].isna().sum()
mcts_50_losses = mcts_50[mcts_50["winner"] != mcts_50["mcts_color"]].value_counts()

print(f"The MCTS_50 has won {mcts_50_wins.shape[0]} out of 100 games against Baseline Model.")
print(f"The MCTS_50 has tied {mcts_50_draws} out of 100 games against Baseline Model.")
print(f"The MCTS_50 has lost {mcts_50_losses.shape[0]} out of 100 games against Baseline Model.")

The MCTS_50 has won 54 out of 100 games against Baseline Model.
The MCTS_50 has tied 31 out of 100 games against Baseline Model.
The MCTS_50 has lost 15 out of 100 games against Baseline Model.

In [48]:
mcts_100_wins = mcts_100[mcts_100["winner"] == mcts_100["mcts_color"]].value_counts()
mcts_100_draws = mcts_100["winner"].isna().sum()
mcts_100_losses = mcts_100[mcts_100["winner"] != mcts_100["mcts_color"]].value_counts()

print(f"The MCTS_100 has won {mcts_100_wins.shape[0]} out of 100 games against Baseline Model.")
print(f"The MCTS_100 has tied {mcts_100_draws} out of 100 games against Baseline Model.")
print(f"The MCTS_100 has lost {mcts_100_losses.shape[0]} out of 100 games against Baseline Model.")

The MCTS_100 has won 70 out of 100 games against Baseline Model.
The MCTS_100 has tied 24 out of 100 games against Baseline Model.
The MCTS_100 has lost 6 out of 100 games against Baseline Model.

In [52]:
mcts_500_wins = mcts_500[mcts_500["winner"] == mcts_500["mcts_color"]].value_counts()
mcts_500_draws = mcts_500["winner"].isna().sum()
mcts_500_losses = mcts_500[mcts_500["winner"] != mcts_500["mcts_color"]].value_counts()

print(f"The MCTS_500 has won {mcts_500_wins.shape[0]} out of 100 games against Baseline Model.")
print(f"The MCTS_500 has tied {mcts_500_draws} out of 100 games against Baseline Model.")
print(f"The MCTS_500 has lost {mcts_500_losses.shape[0]} out of 100 games against Baseline Model.")

The MCTS_500 has won 79 out of 100 games against Baseline Model.
The MCTS_500 has tied 14 out of 100 games against Baseline Model.
The MCTS_500 has lost 7 out of 100 games against Baseline Model.

In [51]:
mcts_1000_wins = mcts_1000[mcts_1000["winner"] == mcts_1000["mcts_color"]].value_counts()
mcts_1000_draws = mcts_1000["winner"].isna().sum()
mcts_1000_losses = mcts_1000[mcts_1000["winner"] != mcts_1000["mcts_color"]].value_counts()

print(f"The MCTS_1000 has won {mcts_1000_wins.shape[0]} out of 100 games against Baseline Model.")
print(f"The MCTS_1000 has tied {mcts_1000_draws} out of 100 games against Baseline Model.")
print(f"The MCTS_1000 has lost {mcts_1000_losses.shape[0]} out of 100 games against Baseline Model.")

The MCTS_1000 has won 81 out of 100 games against Baseline Model.
The MCTS_1000 has tied 11 out of 100 games against Baseline Model.
The MCTS_1000 has lost 8 out of 100 games against Baseline Model.