In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [11]:
ppo_rewards = pd.read_csv("full_reward_history.csv")

In [14]:
ppo_rewards

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,990,991,992,993,994,995,996,997,998,999
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0
3,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0,...,1.0,1.0,-1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0
4,4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0,...,1.0,-1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,97,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,-1.0,1.0,1.0,1.0,1.0,1.0,1.0
98,98,1.0,1.0,1.0,1.0,-1.0,1.0,1.0,1.0,1.0,...,-1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0
99,99,1.0,1.0,1.0,1.0,1.0,-1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0,1.0,1.0
100,100,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
101,101,1.0,1.0,1.0,1.0,1.0,-1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0,1.0,1.0

In [12]:
ppo_rewards.mean(axis=1).head(25)

0     0.000000
1     1.000000
2     0.820180
3     0.773227
4     0.790210
5     0.833167
6     0.827173
7     0.798202
8     0.825175
9     0.805195
10    0.793207
11    0.843157
12    0.814186
13    0.781219
14    0.812188
15    0.834166
16    0.805195
17    0.826174
18    0.812188
19    0.838162
20    0.840160
21    0.795205
22    0.814186
23    0.864136
24    0.820180
dtype: float64

In [13]:
ppo_rewards.mean(axis=1).tail(25)

77     1.006993
78     0.899101
79     0.968032
80     0.941059
81     1.005994
82     0.966034
83     1.180967
84     0.958042
85     0.982018
86     0.939061
87     0.976024
88     0.986014
89     0.997003
90     0.966034
91     1.005994
92     1.067932
93     1.068931
94     1.059940
95     1.057942
96     0.994006
97     1.003996
98     0.999001
99     0.982018
100    1.018981
101    1.011988
dtype: float64