In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [21]:
ppo_rewards = pd.read_csv("full_reward_history.csv")

In [28]:
ppo_rewards

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,990,991,992,993,994,995,996,997,998,999
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,-1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,3,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,...,1.0,-1.0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0
4,4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,8.0,1.0,...,1.0,-1.0,1.0,1.0,1.0,1.0,-1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4853,4853,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4854,4854,1.0,1.0,1.0,1.0,1.0,1.0,3.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4855,4855,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4856,4856,1.0,1.0,1.0,1.0,1.0,1.0,8.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4857,4857,1.0,1.0,1.0,1.0,1.0,1.0,8.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
ppo_rewards.mean(axis=1).head(25)

0     0.000000
1     1.000000
2     0.902098
3     0.869131
4     0.925075
5     0.921079
6     0.956044
7     1.000999
8     0.923077
9     0.963037
10    0.983017
11    0.974026
12    1.013986
13    1.214286
14    0.957043
15    0.948052
16    0.898102
17    0.962038
18    1.004995
19    0.958042
20    0.997003
21    0.951049
22    1.004995
23    1.027972
24    1.058511
dtype: float64

In [24]:
ppo_rewards.mean(axis=1).tail(25)

4833     71.914286
4834    307.625000
4835     81.080645
4836    215.000000
4837    130.973684
4838    235.238095
4839     89.267857
4840    155.218750
4841     68.067568
4842    235.095238
4843    224.818182
4844     62.432099
4845    290.647059
4846    259.947368
4847    290.235294
4848    308.500000
4849    110.933333
4850    124.850000
4851     77.261538
4852    236.142857
4853    275.000000
4854    275.055556
4855    165.166667
4856     49.980583
4857     40.706349
dtype: float64

23 Nov:x

-------------------- Iteration #20 --------------------
Average Episodic Length: 25.18
Average Episodic Return: 120.8
Average Loss: -0.00287
Timesteps So Far: 100233
Iteration took: 23.72 secs
---

23 Nov:

-------------------- Iteration #20 --------------------
Average Episodic Length: 24.12
Average Episodic Return: 117.59
Average Loss: -0.003
Timesteps So Far: 100299
Iteration took: 23.84 secs
------------------------------------------------------